# Introduction To Python

Author credit: https://github.com/jdwittenauer/ipython-notebooks

This is a collection of various statements, features, etc. of IPython and the Python language.  Much of this content is taken from other notebooks so I can't take credit for it, I just extracted the highlights I felt were most useful.

Code cells are run by pressing shift-enter or using the play button in the toolbar.

In [1]:
a = 10

In [2]:
a

10

In [3]:
type(a)

int

In [4]:
dsi_ga = 'DSI is awesome!'

In [5]:
dsi_ga

'DSI is awesome!'

In [6]:
type(dsi_ga)

str

In [7]:
print(a)

10

In [8]:
import math

In [9]:
x = math.cos(2 * math.pi)
print(x)

1.0

Import the whole module into the current namespace instead.

In [ ]:
from math import *
x = cos(2 * pi)
print(x)

Several ways to look at documentation for a module.

In [10]:
print(dir(math))

['__doc__', '__file__', '__name__', '__package__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'hypot', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'modf', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

In [11]:
help(math.cos)

Help on built-in function cos in module math:

cos(...)
    cos(x)

    Return the cosine of x (measured in radians).

### Variables

In [12]:
x = 1.0
type(x)

float

In [13]:
print(x)

1.0

In [14]:
# dynamically typed
x = 1
type(x)

int

### Operators

In [16]:
1 + 2, 1 - 2, 1 * 2, 1 / 2

(3, -1, 2, 0.5)

In [17]:
number = 2.0
type(number)

float

In [18]:
# integer division of float numbers
3.0 // 2.0

1.0

In [19]:
# power operator
2 ** 2

4

In [20]:
True and False

False

In [21]:
not False

True

In [22]:
True or False

True

In [23]:
2 > 1, 2 < 1, 2 > 2, 2 < 2, 2 >= 2, 2 <= 2

(True, False, False, False, True, True)

In [24]:
# equality
[1,2] == [1,2]

True

In [25]:
a = 10

In [26]:
a ==10

True

### Strings

In [27]:
s = "Hello world"
type(s)

str

In [28]:
len(s)

11

In [29]:
s2 = s.replace("world", "test")
print(s2)

Hello test

In [30]:
s[0]

'H'

In [33]:
s[0:5]

'Hello'

In [34]:
s[5]

' '

In [37]:
s[6:]

'world'

In [38]:
s[:]

'Hello world'

In [39]:
# define step size of 2
s[::2]

'Hlowrd'

In [40]:
# automatically adds a space
print("str1", "str2", "str3")

('str1', 'str2', 'str3')

In [41]:
# C-style formatting
print("value = %f" % 1.0)

value = 1.000000

In [42]:
# alternative, more intuitive way of formatting a string 
s3 = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)
print(s3)

value1 = 3.1415, value2 = 1.5

### Lists

In [43]:
my_list = [1,2,3,4]

print(type(my_list))
print(my_list)

<type 'list'>
[1, 2, 3, 4]

In [47]:
names = ['Joseph', 'Bob', 'Rick']
print names

['Joseph', 'Bob', 'Rick']

In [48]:
names[1]

'Bob'

In [49]:
names.append('John')

In [50]:
names

['Joseph', 'Bob', 'Rick', 'John']

In [51]:
print(my_list[1:3])
print(my_list[::2])

[2, 3]
[1, 3]

In [52]:
my_list[0]

1

In [55]:
# don't have to be the same type
my_new_list = [1, 'a', 1.0, 1-1j]
print(my_new_list)

[1, 'a', 1.0, (1-1j)]

In [ ]:
start = 10
stop = 30
step = 2
range(start, stop, step)

# consume the iterator created by range
list(range(start, stop, step))

In [ ]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

In [ ]:
l[1:3] = ["b", "c"]
print(l)

In [ ]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

In [ ]:
l.remove("A")
print(l)

In [ ]:
del l[7]
del l[6]

print(l)

### Tuples

In [59]:
point = (10, 20)
print(point, type(point))

((10, 20), <type 'tuple'>)

In [60]:
# unpacking
x, y = point

print("x =", x)
print("y =", y)

('x =', 10)
('y =', 20)

### Dictionaries

In [61]:
params = {"parameter1" : 33.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

<type 'dict'>
{'parameter1': 33.0, 'parameter3': 3.0, 'parameter2': 2.0}

In [62]:
params['parameter1']

33.0

In [ ]:
names[0]

In [ ]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

In [ ]:
params["parameter4"] = "D"

In [ ]:
params

In [73]:
python_class = {"name1" : "Joseph",
                  "name2" : "Melanie",
                  "name3" : "Rebecca",}

In [74]:
python_class

{'name1': 'Joseph', 'name2': 'Melanie', 'name3': 'Rebecca'}

In [75]:
python_class['name2']

'Melanie'

### Control Flow

In [77]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
elif statement2==True:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

### Loops

In [78]:
this_class = 'This class is kind of quiet'

In [79]:
for x in this_class:
    print x

T
h
i
s

c
l
a
s
s

i
s

k
i
n
d

o
f

q
u
i
e
t

In [80]:
x

't'

In [81]:
numbers = [1,2,3,4]

In [82]:
type(numbers)

list

In [83]:
type(numbers[2])

int

In [84]:
for hamburgers in numbers:
    print 'Joseph'

Joseph
Joseph
Joseph
Joseph

In [85]:
for var1 in range(4):
    print names[var1]

Joseph
Bob
Rick
John

In [ ]:
names[3]

In [ ]:
range(4)

In [86]:
names

['Joseph', 'Bob', 'Rick', 'John']

In [87]:
for x in names:
    print x

Joseph
Bob
Rick
John

In [89]:
len(names)

4

In [90]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

Given a list of prices and if it is happy hour, print out the prices for drinks. Happy hour is half off drinks.

In [94]:
drinks = [5.0, 6.0, 7.0, 5.0]

In [ ]:
# I will give you one of these values
happy_hour = True
happy_hour = False

In [92]:
happy_hour = False

In [93]:
if happy_hour == True:
    print("not sure yet")
else:
    print(drinks)

[5.0, 6.0, 7.0, 5.0]

In [ ]:
# check if happy hour
# if it is happy hour, print drinks but half of each of them
# if it is not happy hour, print drinks (the prices)

In [99]:
happy_hour = True

In [98]:
happy_hour_prices = [2.5, 3.0, 3.5, 2.5]

In [101]:
for x in drinks:
    price = x*0.5
    print(price)

2.5
3.0
3.5
2.5

In [105]:
happy_hour = True

In [109]:
happy_hour_prices = []
# check if happy hour
if happy_hour == True:
    # if it is happy hour, print half the prices of drinks
    for x in drinks:
        price = x*0.5
        happy_hour_prices.append(price)
    print(happy_hour_prices)
else:
    # if it is not happy hour, just print the drink prices
    print(drinks)

[2.5, 3.0, 3.5, 2.5]

In [ ]:
for key, value in params.items():
    print(key + " = " + str(value))

In [ ]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

In [ ]:
l1 = [x**2 for x in range(0,5)]
print(l1)

In [ ]:
i = 0
while i < 5:
    print(i)
    i = i + 1
print("done")

### Functions

In [ ]:
# include a docstring
def func(s):
    """
    Print a string 's' and tell how many characters it has    
    """
    
    print(s + " has " + str(len(s)) + " characters")

In [ ]:
help(func)

In [ ]:
func("test")

In [ ]:
def square(x):
    return x ** 2

In [ ]:
square(5)

In [ ]:
# multiple return values
def powers(x):
    return x ** 2, x ** 3, x ** 4

In [ ]:
powers(5)

In [ ]:
x2, x3, x4 = powers(5)
print(x3)

In [ ]:
f1 = lambda x: x**2
f1(5)

In [ ]:
map(lambda x: x**2, range(-3,4))

In [ ]:
# convert iterator to list
list(map(lambda x: x**2, range(-3,4)))

### Classes

In [ ]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def translate(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return("Point at [%f, %f]" % (self.x, self.y))

In [ ]:
p1 = Point(0, 0)
print(p1)

In [ ]:
p2 = Point(1, 1)

p1.translate(0.25, 1.5)

print(p1)
print(p2)

### Exceptions

In [ ]:
try:
    print(test)
except:
    print("Caught an expection")

In [ ]:
try:
    print(test)
except Exception as e:
    print("Caught an exception: " + str(e))