# Pandas for Exploratory Data Analysis

We'll be working with a few key datasets throughout this session.

- MovieLens 100k movie rating data:
    - main page: http://grouplens.org/datasets/movielens/
    - data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt
- WHO alcohol consumption data:
    - article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/
    - original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
- National UFO Reporting Center data:
    - main page: http://www.nuforc.org/webreports.html

In [ ]:
# the pandas library
import pandas as pd

## Reading Files, Selecting Columns, and Summarizing

In [ ]:
# read in directly from the URL
users = pd.read_table('https://raw.githubusercontent.com/josephofiowa/DAT8/master/data/u.user')

In [ ]:
users

In [ ]:
# read 'u.user' into 'users'
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

In [ ]:
# examine the users data
users                   # print the first 30 and last 30 rows

In [ ]:
type(users)             # DataFrame

In [ ]:
users.head()            # print the first 5 rows

In [ ]:
users.head(10)          # print the first 10 rows

In [ ]:
users.tail()            # print the last 5 rows

In [ ]:
users.index             # "the index" (aka "the labels")

In [ ]:
users.columns           # column names (which is "an index")

In [ ]:
users.dtypes            # data types of each column

In [ ]:
users.shape             # number of rows and columns

In [ ]:
users.values            # underlying numpy array

#### Select a column

In [ ]:
users['gender']         # select one column

In [ ]:
type(users['gender'])   # Series

In [ ]:
users.gender            # select one column using the DataFrame attribute

#### Summarize (describe) the DataFrame

In [ ]:
users.describe()                    # describe all numeric columns

In [ ]:
users.describe(include=['object'])  # describe all object columns

In [ ]:
users.describe(include='all')       # describe all columns

#### Summarize a Series

In [ ]:
users.gender.describe()             # describe a single column

In [ ]:
users.age.mean()                    # only calculate the mean

### Exercise One

#### Read drinks.csv into a DataFrame called 'drinks'
Data: https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv

In [ ]:
drinks =

#### Print the head and the tail

#### Examine the default index, data types, and shape

#### Print the 'beer_servings' Series

#### Calculate the mean 'beer_servings' for the entire dataset

#### Count the number of occurrences of each 'continent' value and see if it looks correct

In [ ]:
# drinks = pd.read_csv('https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv', na_filter=False)

#### BONUS: display only the number of rows of the 'users' DataFrame

#### BONUS: display the 3 most frequent occupations in 'users'

## Filtering and Sorting

#### Boolean filtering: only show users with age < 20

In [ ]:
young_bool = users.age < 20         # create a Series of booleans...

In [ ]:
users[young_bool]                   # ...and use that Series to filter rows

In [ ]:
users[users.age < 20]               # or, combine into a single step

In [ ]:
users[users.age < 20].occupation    # select one column from the filtered results

In [ ]:
users[users.age < 20].occupation.value_counts()     # value_counts of resulting Series

#### Boolean filtering with multiple conditions

In [ ]:
users[(users.age < 20) & (users.gender=='M')]       # ampersand for AND condition

In [ ]:
users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition

#### Sorting

In [ ]:
users.age.order()                   # sort a column

In [ ]:
users.sort('age')                   # sort a DataFrame by a single column

In [ ]:
users.sort('age', ascending=False)  # use descending order instead

### Exercise Two

#### Filter 'drinks' to only include European countries

#### Filter 'drinks' to only include European countries with wine_servings > 300

#### Calculate the mean 'beer_servings' for all of Europe

#### Determine which 10 countries have the highest total_litres_of_pure_alcohol

#### BONUS: sort 'users' by 'occupation' and then by 'age' (in a single command)

#### BONUS: filter 'users' to only include doctors and lawyers without using a |

#### Hint: read the pandas.Series.isin documentation

## Renaming, Adding, and Removing Columns

#### Rename one or more columns

In [ ]:
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})

In [ ]:
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)

#### Replace all column names

In [ ]:
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']

In [ ]:
drinks.columns = drink_cols

In [ ]:
drinks.head()

#### Replace all column names when reading the file

In [ ]:
drinks = pd.read_csv('drinks.csv', header=0, names=drink_cols)

#### Add a new column as a function of existing columns

In [ ]:
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine

In [ ]:
drinks['mL'] = drinks.liters * 1000

In [ ]:
drinks.head()

#### Removing columns

In [ ]:
drinks.drop('mL', axis=1)                               # axis=0 for rows, 1 for columns

In [ ]:
drinks.drop(['mL', 'servings'], axis=1, inplace=True)   # drop multiple columns

## Handling Missing Values

#### Missing values are usually excluded by default

In [ ]:
drinks.continent.value_counts()              # excludes missing values

In [ ]:
drinks.continent.value_counts(dropna=False)  # includes missing values

#### Find missing values in a Series

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv')

In [ ]:
drinks.continent.notnull()          # True if not missing

In [ ]:
drinks.continent.notnull()          # True if not missing

#### Use a boolean Series to filter DataFrame rows

In [ ]:
drinks[drinks.continent.isnull()]   # only show rows where continent is missing

In [ ]:
drinks[drinks.continent.notnull()]  # only show rows where continent is not missing

#### Side note: understanding axes

In [ ]:
drinks.sum()            # sums "down" the 0 axis (rows)

In [ ]:
drinks.sum(axis=0)      # equivalent (since axis=0 is the default)

In [ ]:
drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

#### Side note: adding booleans

In [ ]:
pd.Series([True, False, True])          # create a boolean Series

In [ ]:
pd.Series([True, False, True]).sum()    # converts False to 0 and True to 1

#### Find missing values in a DataFrame

In [ ]:
drinks.isnull()             # DataFrame of booleans

In [ ]:
drinks.isnull().sum()       # count the missing values in each column

#### Drop missing values

In [ ]:
drinks.dropna()             # drop a row if ANY values are missing

In [ ]:
drinks.dropna(how='all')    # drop a row only if ALL values are missing

#### Fill in missing values

In [ ]:
drinks.continent.fillna(value='NA', inplace=True)   # fill in missing values with 'NA'

#### Turn off the missing value filter

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv', header=0, names=drink_cols, na_filter=False)

### Exercise Three

#### Read ufo.csv into a DataFrame called 'ufo'
https://raw.githubusercontent.com/josephofiowa/DAT8/master/data/ufo.csv

#### Check the shape of the DataFrame

#### Calculate the most frequent value for each of the columns (in a single command)

#### What are the four most frequent colors reported?

#### For reports in VA, what's the most frequent city?

#### Show only the UFO reports from Arlington, VA

#### Count the number of missing values in each column

#### Show only the UFO reports in which the City is missing

#### How many rows remain if you drop all rows with any missing values?

#### Replace any spaces in the column names with an underscore

#### BONUS: redo the task above, writing generic code to replace spaces with underscores
In other words, your code should not reference the specific column names

#### BONUS: create a new column called 'Location' that includes both City and State
For example, the 'Location' for the first row would be 'Ithaca, NY'

## Split-Apply-Combine
Diagram: http://i.imgur.com/yjNkiwL.png

#### For each continent, calculate the mean beer servings

In [ ]:
drinks.groupby('continent').beer.mean()

#### For each continent, count the number of occurrences

In [ ]:
drinks.continent.value_counts()

#### For each continent, describe beer servings

In [ ]:
drinks.groupby('continent').beer.describe()

#### Similar, but outputs a DataFrame and can be customized

In [ ]:
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])

In [ ]:
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort('mean')

#### If you don't specify a column to which the aggregation function should be applied, it will be applied to all numeric columns

In [ ]:
drinks.groupby('continent').mean()

In [ ]:
drinks.groupby('continent').describe()

### Exercise Four

#### For each occupation in 'users', count the number of occurrences

#### For each occupation, calculate the mean age

#### BONUS: for each occupation, calculate the minimum and maximum ages

#### BONUS: for each combination of occupation and gender, calculate the mean age